body {
    background-color: white
}

hr {
    height: 2px;
    border: none;
    background-color: #ffdf00;
}

.topnav {
    display: flex;
    align-items: center; /* Vertically center the children */
    justify-content: space-between; /* Space between logo and links container */
    background-color: #f8f8f8;
    padding: 0 16px; /* Optional: Add some padding */
}

.links-container {
    display: flex;
    align-items: center; /* Vertically center the links */
}

.topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
}

.topnav a:hover {
    background-color: #ececec;
}
  
.topnav a.active {
    background-color: #dbdbdb;
}

/*
.container {
    
}*/