body {
    background-color: white
}

hr {
    height: 2px;
    border: none;
    background-color: #ffdf00;
}

.topnav {
    overflow: hidden;
    background-color: #f8f8f8;
}

.topnav #logo {
    float: left;
}

.topnav a {
    height: auto;
    line-height: 100%;
    float: right;
    color: #f8f8f8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.topnav a:hover {
    background-color: #ececec;
}
  
.topnav a.active {
    background-color: #dbdbdb;
}
