<!DOCTYPE html>
<html>
    <head>
        <title>Bean And Brew</title>
        <link rel = "stylesheet" href = "/static/css/style.css">
        <link rel = "icon" href = "/static/images/favicon.ico">
    </head>

    <body>
        <br>
        <hr>
        <div class = "topnav">
            <h1 id = "logo">Bean & Brew</h1>
            <div>
                <a href = "/booking">Booking</button></a>
                <a href = "/about">About</a>
                <a href = "/" class = "active">Home</a>
            </div>
        </div>
        <hr>
    </body>
</html>