{% extends "base.html" %}

{% set active = "about" %}

{% block content %}
<h3>Bean and Brew were one of the first 
    companies in the UK to use fair-trade coffee 
    and all organic milk for their products. Each 
    drink is made exactly to your specifications, 
    for a personal service. They also offer their 
    trademarked flavoured coffees, breakfast 
    items such as porridge, small sweet treats, 
    and pressed sandwiches. Recently they’ve also 
    added frappes and fruit smoothies in addition 
    to seasonal treats such as the pumpkin spiced 
    latte (for Halloween) and various assorted 
    baked goods.
    <br>
    <br>
    Bean and Brew also offer online classes to cook 
    different sweet treats and goodies, as well as 
    offering an restaurant experience where you can 
    book a table and enjoy a meal with friends on 
    this website.
    <br>
    <br>
    Bean and Brew is all about community and would 
    love to welcome regulars to our coffee club.
    This will allow you to get notifications about 
    new classes and availabilty and make booking for 
    our services nice and easy.
</h3>

<h3>If you have any other questions, please contact us via
    email or telephone.
    <br>
    <br>
    Email: support@Bean&Brew.com
    Telephone: 0800 0800
</h3>

<div class = "interactive">
    <a href = "/booking">Book a table or class today!</a>
    <a href = "/sign-in">Join the coffee club!</a>
</div>

{% endblock %}