<!DOCTYPE html>

<html>
    <head>
        <title>Bean & Brew Coffee</title>
        <link rel = 'stylesheet' href = '/static/css/style.css'>
    </head>

    <body>
        <h1>Bean & Brew</h1>
        <a href = "/"><button class = "nav">Home</button></a>
        <a href = "/about"><button class = "nav">About</button></a>
        <a href = "/booking"><button class = "nav">Booking</button></a>
        <a href = "/booking/tables"><button class = "nav">Table booking</button></a>
        <a href = "/booking/classes"><button class = "nav">Class booking</button></a>
        <h2>About Bean & Brew</h2>
        <p>Bean & Brew are a coffee company owned by Sol Folata and Laura Hisoru. Bean and Brew were one of the first companies in the UK to use fair-trade coffee and all organic milk for their products. Each drink is made exactly to your specifications, for a personal service. They also offer their trademarked flavoured coffees, breakfast items such as porridge, small sweet treats, and pressed sandwiches. Recently they’ve also added frappes and fruit smoothies in addition to seasonal treats such as the pumpkin spiced latte (for Halloween) and various assorted baked goods.</p>
        <br>
        <p><b>Bean & Brew staff</b></p>
    </body>
</html>