<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Bean & Brew</title>
        <link rel = "stylesheet" href = "/static/css/style.css">
        <link rel = "icon" href = "/static/images/favicon.ico">
    </head>

    <body>
        <br>
        <hr>
        <div class = "topnav">
            <h1 id = "logo">Bean & Brew</h1>
            <div>
                <a href = "{{ url_for('sign_in') }}" {% if active == "sign-in" %}class = "active"{% endif %}>Join the club</a>
                <a href = "{{ url_for('booking') }}" {% if active == "booking" %}class = "active"{% endif %}>Booking</a>
                <a href = "{{ url_for('menu') }}" {% if active == "menu" %}class = "active"{% endif %}>Menu</a>
                <a href = "{{ url_for('about') }}" {% if active == "about" %}class = "active"{% endif %}>About</a>
                <a href = "{{ url_for('home') }}" {% if active == "home" %}class = "active"{% endif %}>Home</a>
            </div>
        </div>
        <hr>
        <div class = "content">
            {% block content %}{% endblock %}
        </div>
    </body>
    <footer>
        <hr>
        <p>Bean & Brew coffee shop</p>
        <P>Contact us via:</P>
        <p>Email: support@Bean&Brew.com</p>
        <p>Telephone: 0800 0800</p>
    </footer>
</html>