<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Bean & Brew</title>
        <link rel = "stylesheet" href = "/static/css/style.css">
        <link rel = "icon" href = "/static/images/favicon.ico">
    </head>

    <body>
        <br>
        <hr>
        <div class = "topnav">
            <h1 id = "logo">Bean & Brew</h1>
            <div>
                <a href = "/sign-in" {% if active == "sign-in" %}class = "active"{% endif %}>Sign in / Sign up</a>
                <a href = "/booking" {% if active == "booking" %}class = "active"{% endif %}>Booking</button></a>
                <a href = "/about" {% if active == "about" %}class = "active"{% endif %}>About</a>
                <a href = "/" {% if active == "home" %}class = "active"{% endif %}>Home</a>
            </div>
        </div>
        <hr>
        <div class = "content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>