<!DOCTYPE html>

<html>
    <head>
        <title>Home page</title>
        <link rel = 'stylesheet' href = '/static/css/style.css'>
    </head>

    <body>
        <h1>Home</h1>
        <a href = "/"><button class = "nav">Home</button></a>
        <a href = "/about"><button class = "nav">About</button></a>
        <a href = "/booking"><button class = "nav">Booking</button></a>
        <a href = "/booking/tables"><button class = "nav">Table booking</button></a>
        <a href = "/booking/classes"><button class = "nav">Class booking</button></a    >
    </body>
</html>