{% extends "base.html" %}

{% set active = "menu" %}

{% block content %}
<div class = "menu">
    <h1>Drinks</h1>
    <h2>Sizes: Small/Medium/Large</h2>
    <hr>

    <h2><u>Hot</u></h2>

    <h3>Espresso: 2.00/-.-/-.-</h3>
    <h3>Machiatto: 2.50/3.50/4.50</h3>
    <h3>Latte: 2.00/3.00/4.00</h3>
    <h3>Mocha: 2.50/3.50/4.50</h3>

    <h2><u>Cold</u></h2>

    <h3>Iced Latte: 2.50/3.50/4.50</h3>
    <h3>Iced Mocha: 3.00/4.00/5.00</h3>

    <h1>Food</h1>
    <hr>

    <h2><u>Savoury</u></h2>

    <h3>Ham and Cheese Croissant: 3.50</h3>

    <h2><u>Sweet</u></h2>

    <h3>Chocolate Brownie: 2.75</h3>

    <h1>Hampers</h1>
    <hr>

    <h3>Small: 10.00</h3>
    <h3>Medium: 12.00</h3>
    <h3>Large: 15.00</h3>
</div>

<br>

<div class = "interactive">
    <a href = "/order">Order now!</a>
</div>

{% endblock %}